.Main{
    margin: 10px;
    border: 3px solid black;
}

/* .Griditem{
    min-width: 50px;
} */

.cardContent{
    min-height: 80px;
}

.Blockpool{
    margin: 15px;
}

.Blockcard{
    max-width: 75px;
    max-height: 75px;
    /* min-width: 50px;
    min-height: 50px; */
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .Blockcard .statusClosed{
    background-color: lightgrey;
} */

.css-46bh2p-MuiCardContent-root .statusClosed {
    padding: 16px;
    background-color: cornsilk;
    border: 1px solid black;
    max-width: 75px;
    max-height: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
}